body{
  margin: 0;
}

h2{
  margin: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.card{
  background-color: aliceblue;
  border: none;
  padding: 10px;
  width: min(560px, 100%);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0 #000a;
  opacity: 0.92;
}
.card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__title h2{
  font-size: 2.5rem;
}
.card__content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  padding-top: 0;
}
.card__weather-info ul{
  list-style: none;
  font-size: 1.5rem;
}

.card__weather-info li:nth-child(1){
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
}

.bxs-cloud{
  font-size: 200px;
  color: aqua;
}

.card__button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button button{
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: greenyellow;
  cursor: pointer;
  /* font-weight: bold; */
}
.card__img img{
  width: 100%;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
}
.card__img ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.5rem;
  text-align: center;
}
@media screen and (max-width: 550px){
  .card__content{
    flex-direction: column;
  }
  .card__weather-info ul{
    padding: 0;
  }
}